<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/good" method="post">
        <input type="text" name="name" id="email" value="name">
    <input type="email" name="email" id="email" value="email">  
    <input type="number" name="userId" id="userId" value="userId">
    <button>Submit</button>
    <button action="/update:id">Update</button>

    </form>
</body>
</html>